html
  head
    title hello world!
    link(rel='stylesheet' href='/static/css/index.css')
  body
    h1 hello!
    article
      section
        ul#app
        input#user(placeholder='Please input')
        button#btn(type='button') Ok
      section
        input#file(
          type='file'
          accept='image/*'
        )
        button#send(type='button') Send
      section
        ul.img-list
          each file in imgFiles
            li
              img(src=`/upload/${file}`)
              dd #{file}
           
    script(src='/static/js/index.js')
