section
  margin: 30px auto
  padding: 20px
  max-width: 900px
  border: 1px solid #ddd

.img-list
  margin: 0
  padding: 0
  display: flex
  justify-content: space-around
  li
    padding: 10px
    width: 200px
    margin-bottom: 20px
    border: 1px solid #ddd
    border-radius: 10px
    list-style: none
    img
      max-width: 100%
    dd
      margin: 0
      padding: 10px
      text-align: center
      color: #39c
